# directories
cache
coverage
node_modules
out

# files
*.env
!mainnet.env
!sepolia.env
*.log
.DS_Store
.pnp.*
lcov.info
package-lock.json
pnpm-lock.yaml
yarn.lock
*.db

# broadcasts
!broadcast
broadcast/*
broadcast/*/31337/

.deploy-config.json